.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
  
    .filter {
      width: 240px;
      margin: 30px 0;
  
      display: flex;
      flex-direction: column;
  
      h2 {
        font-size: 16px;
        font-weight: bold;
      }
  
      select,
      input[type="number"] {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        color: #333;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #ccc;
        font-size: 16px;
        transition: background-color 0.3s ease;
  
        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px #B283F9;
          background-color: #eee;
        }
        
        &:hover {
          background-color: #ddd;
        }
      } 
    }
  }
  