.filter-container {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;

    select {
        font-size: 16px;
        padding: 10px;
        border: none;
        background-color: #f2f2f2;
        color: #333;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
    }

    select:hover {
        background-color: #eaeaea;
    }
    
    select:focus {
        outline: none;
        background-color: #ddd;
    }
  }
